<div class="contentGeneral">
    <div class="formLogIn">
        <div class="contentImage">
            <img src="/static/images/AeroEnvios.jpg" alt="AeroEnvios" width="200px" id="logo">
        </div>
        <form action="/Aeroenvios/LogIn" method="post">
            <div class="contentLogIn">
                <label for="username">Usuario</label>
                <input type="text" name="username" id="username" class="sizeInput">
            </div>
            <div class="contentLogIn">
                <label for="password">Constaseña</label>
                <input type="password" name="password" id="password" class="sizeInput">
            </div>
            <div class="contentLogIn">
                <button type="submit">Iniciar Sesion</button>
            </div>
        </form>
    </div>
</div>